
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0px 150px 0px 150px;
}

.illustration {
  flex: 1;
}

.illustration-image {
  max-width: 100%;
  height: 530px;
  margin-top: 5px;
  margin-left: 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.login-form {
  flex: 1;
  background: #fff;
  padding: 38px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: left;
  height: 455px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.login-form2 {
  flex: 1;
  background: #124778;
  padding: 38px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: left;
  height: 455px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.text5, .login-form2 h1, .text2{
  color: #fff;
}

.login-form2 h1{
  margin-top: -30px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-bottom: 0px;
  margin-top: -10px;
  justify-content: center;
}
.logo1 {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-bottom: 70px;
  margin-top: -10px;
  justify-content: center;
}

.logo-img {
  width: 40px; 
  height: auto;
}

.text {
  color: #05223e; 
  font-family: fantasy;
  font-weight: lighter;
}
.text2 {
  font-size: 1.5rem; 
  margin: 0px  10px; 
  font-family: fantasy;
  font-weight: lighter;
}
.hidden-link {
  display: flex;
  align-items: center; 
  text-decoration: none; 
  color: inherit; 
  cursor: default;
}

.hidden-link:hover,
.hidden-link:focus, .loginback {
  text-decoration: none; 
  color: inherit; 
  cursor: default; 
}

.loginback{
  display: flex;
    align-items: center;
    text-decoration: none;
    color: #05223e;
    font-size: 13px;
    cursor: default;
    gap: 12px;
    font-weight: bold;
}


.form-column h1 {
  margin-bottom: -5px;
  font-size: 24px;
  color: #333;
}

.welcome{
  margin-bottom: 5px;
  font-size: 26px;
  color: #333;
}
.welcomep{
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
  text-align: justify;
}

.form-column p {
  font-size: 14px;
  color: #666;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}
.input-container{
  position: relative;
}

.input-field {
  width: 82%;
  padding: 10px 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.input-icon{
  position: absolute;
  left: 350px;
  top: 50%;
  transform: translateY(-50%);
}
.input-icon1{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.form-options {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 12px;
  color: #666;
}

.form-options2  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 12px;
  color: #fff;
}
.form-options2 a {
  color: #fff;
  text-decoration: none;
}


.form-options a {
  color: #007bff;
  text-decoration: none;
}

.form-options a:hover {
  text-decoration: underline;
}

.role-buttons {
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 10px; /* Add spacing between buttons */
  margin: 25px 0; /* Add margin above and below the button group */
}

.role-btn {
  padding: 8px 20px; 
  font-size: 14px; 
  font-weight: 600;
  width: 230px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  cursor: pointer; 
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s, color 0.3s; 
}

.admin-btn, .officer-btn  {
  background-color: #f0f0f0;
  color: #333; 
}



.role-btn:hover {
  background-color: #00796b; 
  color: white; 
}
.role-btn.selected {
  background-color: #00796b; /* Active background when selected */
  color: white; /* White text for selected button */
  border-color: #005b4f; /* Darker border for selected button */
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn-primary {
  background: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background: #0056b3;
}

.btn-secondary {
  background: #f9f9f9;
  color: #007bff;
  border: 1px solid #007bff;
}

.btn-secondary:hover {
  background: #e6f7ff;
}

.back-buttonof {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-linkof {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s;
}

.back-buttonof:hover {
  color: #fff;
  background-color: #05223e;
}

.back-iconof {
  font-size: 14px;
}

/*Signup*/
.signup-form {
  margin: 20px auto;
  width: 100%;
  padding: 0px 30px;
  background-color: #eff2f6;
  border-radius: 8px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}
.logosign {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-top: 10px;
  justify-content: center;
}

.form-columns {
  display: flex;
  gap: 60px;
  margin-bottom: 15px;
  padding: 10px;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-row {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
.form-column h4{
  border-bottom: 1px solid #ccc;
  margin: 15px 0px;
}

.form-group label {
  font-size: 13px;
  margin-bottom: 5px;
}

.input-fieldsign {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: -5px;
  font-size: 12px;
}

.btn1 {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #4CAF50;
}

.modalsign {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-contentsign {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-actionssign button {
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  padding: 5px 10px; 
  width: 80px;
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 12px; 
  margin: 10px 5px; 
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}


.modal-actionssign button:hover {
  background-color: #45a049; 
}


.modal-actionssign button:nth-of-type(2) {
  background-color: #f44336; 
  color: white;
  border: none;
  padding: 5px 10px; 
  width: 80px;
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 12px; 
  margin: 10px 5px; 
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease;
}

.modal-actionssign button:nth-of-type(2):hover {
  background-color: #e53935; 
}


.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 11px;
  margin-top: -5px;
  word-spacing: 1px;
  letter-spacing: 1px;
}

.qr-code-wrapper {
  display: inline-block;
  border-radius: 10px; 
}

.qr-code-wrapper canvas {
  margin: 0 auto;
  background-color: #fff; 
  display: inline-block;
}

@media (min-width: 360px) and (max-width: 768px)  {
  .login-container{
    margin-top: 50px;
    height: -1px;
    flex-direction: column;
    display: block;
  }
  .illustration-image {
    display: none;
  }
  .login-form{
    border-radius: 30px;
    padding: 1.5rem;
    /* margin-top: 80%;
    margin-bottom: 13rem; */
    margin-left: -8.5rem;
    margin-right: -8.5rem;
    align-content: stretch;
    justify-content: space-around;
    justify-items: stretch;
    align-items: stretch;
    padding-top: 25px;
    padding-bottom: 30px;
    height: auto;
  }
  .login-form2 {
    border-radius: 30px;
    padding: 1.5rem;
    /* margin-top: 80%;
    margin-bottom: 13rem; */
    margin-left: -8.5rem;
    margin-right: -8.5rem;
    align-content: stretch;
    justify-content: space-around;
    justify-items: stretch;
    align-items: stretch;
    padding-top: 50px;
    padding-bottom: 30px;
    height: auto;
  }
  .form-group {
    margin-left: 5px;
}
  .logo, .logo1{
    display: flex;
    flex-direction: column;
  }
  .text, .text2{
    font-size: 14px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
  }
  .loginback{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .welcome {
    font-size: 20px;
    text-align: left;
    margin: 10px 0px;
    font-weight: 900;
  }
  .welcomep, .text5{
    margin-bottom: 5px;
    font-size: 12px;
  }
  .input-field {
    width: 70%;
  }
  .signup-form {
    padding: 1rem;
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    margin-left: -8.5rem;
    margin-right: 1rem;
    border-radius: 30px;
    width: 300px;
}
.logosign, .form-columns, .form-row {
  flex-direction: column;
}
.form-column h4 {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.form-columns {
  display: flex;
  gap: 30px;

}
.form-column h1 {
  font-size: 20px;
  font-weight: 700;
}
.form-column p {
  font-size: 13px;
}
.back-linkof {
 margin-left: 10px;
}
.input-fieldsign {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: -5px;
  font-size: 12px;
  background-color: #fff;
  width: -webkit-fill-available;
}

}

@media (min-width: 1360px) and (max-width: 1920px) {
  .login-container{
    margin: 0px 200px;
  }
  .text {
    font-size: 20px; 
    color: #05223e; 
    
  }
}