.outerContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 100px;
  }
  
  /* Main container */
  .containerqr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
  }
  
  /* New box wrapping the content
  .newBox {
    width: 100%;
  }
   */
  /* Content wrapper that holds the description and scanner */
  .contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the top */
    width: 100%;
  }
  
  /* Description box (for instructions above the scanner) */
  .descriptionBox {
    background-color: #05223e;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #05223e;
    font-size: 18px;
    color: #fff;
    text-align: left;
    line-height:20px;
    height: 450px;
    display: flex;
    flex-direction: column;
  }
  
  .descriptionBox li{
    font-size: 14px;
    text-align: left;
    list-style: none;
    line-height: 30px;
  }
  .descriptionBox ul{
    margin-left: -10px;
  }
  .descriptionBox p{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
    margin-bottom: -10px;
    padding: 20px;
  }
  
  /* Scanner box */
  .scannerBox {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #05223e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    width: 500px;
    height: 430px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 10px;
  }


  .qr-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure the frame is above the video */
  }
  
  /* Wrapper for scanner and second description box */
  .scannerWithDescription {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  
  /* Video wrapper */
  .videoWrapper {
    position: relative;
    border: 1.5px solid #979797;
    width: 100%;
    height: 90%;
    overflow: hidden;
  }
  video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  canvas {
    display: none; /* Hide canvas if not needed for debugging */
  }
  
  /* Button */
  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
.line{
  color: #98a7ad;
  font-weight: lighter;
  text-align: center;
  margin: 25px 0;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

.uploadSection {
  text-align: center;
}

.uploadBox {
  display: inline-block;
  padding: 10px;
  border: 1.2px dashed #007BFF; /* Blue dashed border */
  border-radius: 10px;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.uploadBox:hover {
  background-color: #007BFF; /* Blue background when hovered */
  color: white;
  border-color: #0056b3; /* Darker blue border when hovered */
}

.uploadBox p {
  margin: 0;
  font-size: 16px;
  color: #9d9d9d; /* Blue text */
  font-weight: bold;
}
.uploadBox p:hover {
  color: white;
}
.uploadInput {
  display: none; /* Hide the default input */
}

/*modal*/
.modalqr, .modalqrscan {
  background: white;
  border-radius: 8px;
  padding: 10px 20px;
  max-width: 100%;
  margin: auto;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Courier New', Courier, monospace;
}
.modalqrscan {
  width: 450px;
}
.modalqr {
  width: 500px;
}
.modalqrscan-table{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  border-collapse: collapse;
  border-spacing: 10px;
  text-align: center;
}

.viotable {
  height: 150px;
  overflow-y: auto;
  border-collapse: collapse;
  position: sticky;
  padding: 8px;
  background-color: rgb(241, 241, 241); 
  z-index: 10;
}
.table-containerscan {
  height: 150px;
  overflow-y: auto;
  border-collapse: collapse;
  width: max-content;
}
.table-containerscan thead {
  position: sticky;
  padding: 8px;
  background-color: rgb(241, 241, 241); 
  z-index: 10;
}
.viotable th, .table-containerscan td {
  padding: 5px;
  text-align: center;
  font-size: 12px;
} 
.modalqr h2, .modalqrscan h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
.modal-contentqr h2 {
  font-size: 26px;
  font-weight: 600;
  margin:10px 20px;
  border-bottom: 1px solid #ccc;
  color: #333;
  text-align: left;
}

.modal-contentqr {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 585px; /* Increase width */
	max-height: 80vh;
	overflow-y: auto;
	z-index: 1000;
  }

.overlayqr {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlayqr1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

}
.modal-buttonsqr {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
}

.buttonqr {
  font-size: 14px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 10px;
  transition: background-color 0.3s ease;
}

.buttonqrupload{
  padding: 8px 10px;
  margin-top: 5px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonqr:hover, .buttonqrupload:hover, .button:hover {
  background: #0c6598;
}

.modalqr div p {
  font-size: 16px;
}

.modalqr div p strong {
  color: #000000;
  text-transform: capitalize;
}

.uploadSection label {
  display: block;
  padding: 10px;
  margin-top: 15px;
  background-color: #f1f1f1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.uploadSection label:hover {
  background-color: #e0e0e0;
}

.uploadSection input[type="file"] {
  display: none;
}

.checkbox-item {
  margin: 5px 0;
}


.checkbox-item input[type="checkbox"] {
  margin-right: 10px;
  width: auto; 
  padding: 0; 
  border: none; 
}

.add-formqr {
  margin-left: 20px;
text-align: left;
}

.add-formqr label {
font-size: 14px;
font-weight: 700;
margin-bottom: 5px;
color: #555;
width: 100%; /* Ensures labels take full width */
}

.add-formqr input:not([type="checkbox"]),
.add-formqr select,
.add-formqr textarea {
padding: 10px;
margin-bottom: 15px;
border: 1px solid #ddd;
border-radius: 5px;
font-size: 12px;
width: 90%; /* Ensure inputs also take full width */
}
.add-formqr select, .add-formqr select:focus{
width: 95%;
}

.add-formqr input:focus,
.add-formqr select:focus,
.add-formqr textarea:focus {
border-color: #4a90e2;
outline: none;
}

.add-formqr textarea {
resize: vertical;
height: auto;
}

.scanned-data p{
  line-height:10%;
}
.scanned-data{
  padding: 0px 10px;
  padding-bottom: initial;
}
.dripro{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 1rem;
}
.picdri{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.h4vio{
  text-align: center;
}
.e-sig button{
  font-weight: bold;
}
.e-sig button:hover {
  background-color: #9b9b9b;
}
.e-sig{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
}
.signature-canvas {
	border: 2px solid black;
	margin-bottom: 20px;
	display: block;
	touch-action: none;
	width: 550px;
	height: 200px;
  }
@media (min-width: 360px) and (max-width: 768px)  {
  .sidebar.open + .main-section2 {
		margin-left: 6px;
    margin-right: 8px;
	}  
  .sidebar.closed + .main-section2 {
		margin-left: -13%;
    margin-right: 25px;
	}  

.outerContainer {
  margin-left: 25px;
  margin-top: 0px;
  margin-right: 48px;
}
.contentWrapper {
  flex-direction: column;
  width: 126%;
}
.descriptionBox {
  line-height: 0px;
  height: 125px;
  width: -webkit-fill-available;
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.containerqr {
  padding: 2px;
  width: inherit;
}
.descriptionBox p {
  font-size: 14px;
  padding: 5px;
  margin-top: 15px;
}
.descriptionBox ul {
  margin-left: -30px;
}
.descriptionBox li {
  line-height: 18px;
  font-size: 14px;
}
.newBox {
  width: auto;
}
.scannerBox {
  width: auto;
  height: 250px;
}
.button {
  padding: 8px 15px;
  font-size: 14px;
  margin-top: 5px;
}
.modalqrscan {
  width: 320px;
  padding: 8px;
}
.modalqrscan h2, .modal-contentqr h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.picdri{
  padding: 0rem;
}
.scanned-data p {
  font-size: 12px;
}
.h4vio{
  margin: 5px 0px;
  font-size: 13px;
}
.viotable {
  padding: 5px 1px;
 }
 .modal-contentqr {
	padding: 8px;
	max-width: 320px; /* Increase width */
  }
  .signature-canvas {
    width: 280px;
  }
}